.List{
    background-color: #888;
    padding: 10px;
    max-width: 80%;
    margin: auto;
    border-radius: 5px;
}

.List ul {
    padding: 0;
}

.List > div{
    display: flex;
    justify-content: space-between;
}

.List input{
    width: 80%;
    border: 0;
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
}

.List button{
    width: 15%;
    border: 0;
    border-radius: 5px;
}